.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-div {
  background-color: DarkSlateBlue;
  width: 100%;
  position: fixed;
  top: 0;
  height: 80;
  color: white;
  padding: 10px;
  padding-left: 30px;
  font-size: 32px;
}

.content-div {
  position:absolute;
  top: 60px;
  left:0px;
  right:0px;
  bottom:0px;
  overflow-y:scroll;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

