.modal-outer {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.base-page-outer-div {
    padding: 20px;
    background-color: white;
    text-align: center;
}

.base-page-inner-div {
    display: inline-block;
    text-align: left;
    padding: 20px;
    background-color: whitesmoke;
}

.modal-inner {
    padding: 20px;
    background-color: whitesmoke;
}

.data-grid-div {
    max-width: 700px;
}

.links-page-inner-div {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
}

.link-box-title-div {
    font-size: 22px;
}

.link-box-div {
    width: 300px;
    display: inline-block;
    text-align: left;
    padding: 20px;
    margin: 5px;
    background-color: white;
}

.field-list-field-div {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.field-list-name-div {
    text-align: right;
}

.reference-table-div {
    padding: 5px;
}

.button-list-div {
    padding: 10px;
    display: flex;
}

.button-div {
    padding: 2px;
}

button {
    padding: 10px;
}

.link-div {
    padding: 2px;
    padding-left: 10px;
    cursor: pointer;
}

`.search-bar-div {
    display: flex;
    padding-bottom: 15px;
}

.search-bar-add-term-div {
    cursor: pointer;
    padding: 5px;
}

.search-field-div {
    display: flex;
    padding: 3px;
}

.search-field-select-div {
    padding-right: 2px;
}

.search-field-filter-div {
    padding-right: 2px;
}

.search-field-edit-div {
}

.search-bar-button-div {
    padding-left: 10px;
}